.topBanner {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containerList {
  width: 15vw;
  text-align: center;
}
.subMenu {
  position: absolute;
  width: 15vw;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.subMenu a {
  padding: 3px 0 3px 0;
  text-decoration: none;
  color: #000000;
}
.containerList:hover .subMenu {
  visibility: visible;
}
.subMenu a:hover {
  background-color: #CCCCCC;
}

.iconMenuBurger {
  position: fixed;
  top: 15px;
  left: 10px;
  width: 50px;
  height: 50px;
  z-index: 10;
}
.iconMenuBurger:hover {
  cursor: pointer;
}
.closeMenuBurger {
  width: 0;
}
#clickMenuBurger {
  position: absolute;
  visibility: hidden;
}
.menuBurger {
  position: fixed;
  top: 0;
  left: calc(-20vw - 141px);
  width: calc(20vw - 20px);
  min-width: 140px;
  height: calc(100vh - 100px);
  padding: 100px 0 0 20px;
  border-right: 1px solid #000000;
  background-color: #FFFFFF;
}
#clickMenuBurger:checked + label .openMenuBurger {
  width: 0;
}
#clickMenuBurger:checked + label .closeMenuBurger {
  width: 50px
}
#clickMenuBurger:checked ~ .menuBurger {
  left: 0;
}
.burgerSubMenu {
  position: absolute;
  padding-left: 0;
  list-style: none;
  visibility: hidden;
}
.burgerSubMenu a {
  padding: 0 40px 0 40px;
  text-decoration: none;
  color: #000000;
}
.burgerButton:hover {
  cursor: pointer;
}
.burgerSubMenu a:hover {
  background-color: #CCCCCC;
}
#click1, #click2, #click3, #click4, #click5, #click6 {
  position: absolute;
  visibility: hidden;
}
#click1:checked ~ .burgerSubMenu, #click2:checked ~ .burgerSubMenu, #click3:checked ~ .burgerSubMenu, #click4:checked ~ .burgerSubMenu, #click5:checked ~ .burgerSubMenu, #click6:checked ~ .burgerSubMenu {
  position: static;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .topBanner {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .iconMenuBurger {
    display: none;
  }
}

footer {
  position:relative;
  left: -8px;
  width: 100vw;
  margin-top: 300px;
  background-color: #000000;
  color: #FFFFFF;
}
.infos, .socialMedias {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.infos {
  padding-top: 100px;
  Padding-bottom: 25px;
  text
}
.socialMedias {
  padding-top: 25px;
  padding-bottom: 100px;
}
.infos a {
  text-decoration: none;
  color: #FFFFFF;
}
.infos li:not(:first-child) {
  padding-left: 20px;
}
.socialMedias img {
  width: 30px;
}
.socialMedias li:not(:first-child) {
  padding-left: 20px;
}
